<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
        <p><a href="info">LINK</a></p>
        <p><a href="http://google.com">GOOGLE</a></p>
    </body>
</html>